header {
    padding: 0 !important;
}

.page header .header {
    width: 100%;
    margin-top: 51px;
    background: scroll no-repeat center/cover;

    background-image: linear-gradient(rgb(0 0 0/0.55), rgb(0 0 0/0.55)), url('/images/teamcropped.jpg');

    padding-top: 10%;
    padding-bottom: 2%;
}

.page header .header h2 {
    font-family: "alata";
    text-align: center;
    font-size: 165px;
    font-weight: 400;
    color: #FFFFFFFF;
}

.page .aboutmain {
    padding-top: 23px !important;
    padding-inline: 8% !important;

}


.page .aboutmain .template h2 {
    color: var(--primary-color);
    font-family: "Playfair";
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding-block: px;

}


.page .aboutmain .template h4 {
    padding-block: 3px;
    color: #4b4e52;
    font-family: "Playfair";
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 5px;

}

.page .aboutmain .template hr {
    display: block;
    background-color: var(--primary-color);
    width: 8%;
    margin: auto;
    height: 3.5px;
    border: 0;
    margin-top: 2%;
    margin-bottom: 3.2%;

}

.equal-parts {
    display: flex;
    flex-direction: row;
}

.equal-parts .text {
    width: 50%;

}

.equal-parts .image {
    width: 50%;
    padding-left: 8%;
    border-radius: 5px;
}

.page .aboutmain .story .equal-parts .image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 3px;

}

.page .aboutmain .story .equal-parts .text {
    font-size: 18px;
    font-family: "Merri";
    font-weight: 400;
    color: #171A1FFF;

}

.page .aboutmain .story .equal-parts .text p {
    margin-block: 4%;
}

.page .aboutmain .phiso {
    margin-top: 3%;
    margin-bottom: 10%;
}

.page .aboutmain .phiso .phcards {
    display: flex;
    justify-content: space-between;
    gap: 5%;
}

.page .aboutmain .phiso .phcards .phcard {
    border-radius: 4px;
    box-shadow: 0px 0px 2px #171a1f14;
    background-color: white;
    padding: 2%;
    text-align: center;
}

.page .aboutmain .phiso .phcards .phcard h5 {
    font-size: 40px;
    color: var(--primary-color);
    margin-bottom: 1%;
}

.page .aboutmain .phiso .phcards .phcard h6 {
    color: var(--elegant-black);
    font-family: "Playfair";
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 1%;

}

.page .aboutmain .phiso .phcards .phcard p {
    font-family: "Merri";
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #565D6DFF;
}

.page .aboutmain .exp .equal-parts .text {
    padding-right: 2%;
    height: fit-content;
}

.page .aboutmain .exp .equal-parts .text h5 {
    color: var(--primary-color);
    font-family: "Playfair";
    font-size: 28px;

    font-weight: 600;
    margin-bottom: 3%;

}

.page .aboutmain .exp .equal-parts .text p {
    font-family: "Merri";
    font-weight: 400;
    color: var(--elegant-black);


}

.page .aboutmain .exp .equal-parts .image {
    width: 50%;
    height: 100%;
    padding-left: 0;
    height: 100%;
    padding-inline: 2%;

}

.page .aboutmain .exp .equal-parts .image img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 3px;

}

.page .aboutmain .journey {
    margin-top: 10%;


}

.page .aboutmain .jr-button {
    width: 200px !important;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    margin: auto
}