* {
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
    scrollbar-width: none !important;
}

.page main {
    padding: 0 !important;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: "Playfair", serif;
    image-rendering: -webkit-optimize-contrast;
    background-color: var(--background-color);
}

body::-webkit-scrollbar {
    display: none !important;
}

h1 {
    font-size: 56px;
    font-family: "Playfair";
}

h2 {
    font-size: 40px;
    font-family: "Playfair";
}

h4 {
    font-size: 18px;
    font-weight: 600;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: var(--background-color); */
    background-color: transparent !important;
    z-index: var(--z-index-nav);
    transition: box-shadow 0.5s, background-color 0.5s;
    -webkit-transition: box-shadow 0.5s, background-color 0.5s;
    -moz-transition: box-shadow 0.5s, background-color 0.5s;
    -ms-transition: box-shadow 0.5s, background-color 0.5s;
    -o-transition: box-shadow 0.5s, background-color 0.5s;
}

nav .menu li a{
    color: var(--background-color) !important;
}

/* Search bar input text */
.right form input[type="search"] {
    color: white;
}

/* Search bar placeholder */
.right form input::placeholder {
    color: white;
    opacity: 0.7;
}

/* Search icon (Font Awesome) */
.right form label i {
    color: white;
}

/* Cart icon -> turn white */
.cart-container img, .logo-container img {
    filter: brightness(0) invert(1);
}

.shadow-header {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    background-color: #FFF !important;
}
.shadow-header .menu li a{
    color: #000 !important;
}
.shadow-header .right form input[type="search"] {
    color: #000;
}
.shadow-header .right form input::placeholder {
    color: #000;
    opacity: 0.7;
}
.shadow-header .right form label i {
    color: #000;
}
.shadow-header .cart-container img, .shadow-header .logo-container img {
    filter: none;
}

.hero-container {
    /* margin: 75px 100px; */
    /* border-radius: 20px; */
    /* margin-top: 50px;  space for the nav */
    padding: 15px;
    padding-top: 61px;
    background: #FFF url('../images/background.png') no-repeat center/cover;
}

.hero {
    /* margin: 100px 100px; */
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.05);
    margin: 20px 100px;
    backdrop-filter: blur(7px);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    padding: 25px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 87.5vh; */
    height: 87.5vh;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    color: var(--background-color);
}

.hero .text h2{
    color: var(--background-color) !important;
}

.books {
    display: grid;
}

.home-swiper {
    margin: initial;
    width: 480px;
}

.home-article,
.home-img {
    width: 350px;
    height: auto;
    filter: drop-shadow(0px 8.5px 13.75px #171a1f38);
    transition: scale 0.5s;
    -webkit-transition: scale 0.5s;
    -moz-transition: scale 0.5s;
    -ms-transition: scale 0.5s;
    -o-transition: scale 0.5s;
    scale: 0.8;
    -webkit-filter: drop-shadow(0px 8.5px 13.75px #171a1f38);
}

.swiper-slide-active,
.swiper-slide-duplicate-active {
    scale: 1;
}

.cta-btn {
    outline: none;
    background-color: var(--primary-color);
    color: #FFF;
    border: none;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    font-family: 'Playfair';
}

.categories {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 200px;
    /* color: var(--primary-color); */
    gap: 6rem;
}

.category-container {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: 3rem;
}

.category {
    text-align: center;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 12px;
    padding: 55px 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    width: 450px;
}

.category:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    cursor: pointer;
}

.category i {
    font-size: 30px;
    color: var(--primary-color);
    display: inline;
    font-weight: 600;
}

.category p {
    font-size: 16px;
}

.category .icon-container {
    background-color: #006A8A1A;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pros {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 60px 60px;
    gap: 6rem;
    background-color: var(--primary-color);
    position: relative;
}

.pros h2 {
    color: #FFF !important;
}

.advantage-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.advantage {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: start;
    gap: 0.7rem;
    width: 320px;
    padding: 30px 30px;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    background-color: #FFF;
    color: #000;
    transition: all 0.5s ease-in-out;
}

.advantage:hover {
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
}

.advantage i {
    font-size: 25px;
    display: inline;
    font-weight: 600;
    color: var(--primary-color);
}

.advantage p {
    font-size: 16px;
    color: #5a5a5a;
}

.advantage .icon-container {
    background-color: #006A8A1A;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.help {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 4rem 10vw;
}

.help .text {
    width: clamp(250px, 30%, 28rem);
    font-size: 1.2rem;
}

.help .text h2 {
    padding: 2rem 0;
    color: var(--primary-color);
}

.home-form {
    display: flex;
    flex-direction: column;
    width: clamp(250px, 40%, 30rem);
    gap: 0.5rem;
}

.home-form input {
    height: 2rem;
    outline: #DEE1E6FF auto 2px;
    border-radius: 0.1rem;
    padding: 0.5rem;
    transition: all 0.4s ease-in-out;
}

.home-form input::placeholder {
    font-family: "Merri";
}

.home-form input:focus {
    outline: var(--primary-color) auto 2px;
}

.home-form textarea {
    height: 10rem;
    resize: none;
    outline: #DEE1E6FF auto 2px;
    border: none;
    border-radius: 0.1rem;
    padding: 0.5rem;
    transition: all 0.2s ease-in-out;
}

.home-form textarea:focus {
    outline: var(--primary-color) auto 2px;
}

.home-form textarea::placeholder {
    font-family: "Merri";
}

.home-form button {
    outline: none;
    background-color: var(--primary-color);
    border: none;
    color: #FFF;
    font-size: 1rem;
    padding: 0.7rem 1rem;
    border-radius: 0.1rem;
    cursor: pointer;
    font-family: 'Playfair';
}