* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none !important;
}

html {
    font-size: 14px;
    scroll-behavior: smooth;
}

body {
    font-family: "Playfair", serif;
    image-rendering: -webkit-optimize-contrast;
    background-color: var(--background-color);
}

body::-webkit-scrollbar {
    display: none !important;
}

h1 {
    font-size: 45px;
    font-family: "Playfair";
}

h2 {
    font-size: 25px;
    font-family: "Playfair";
}

h4 {
    font-size: 18px;
    font-weight: 600;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--background-color);
    z-index: var(--z-index-nav);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.homenav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1.25rem;
    background-color: transparent !important;
}

.homenav .logo-container-home {
    height: 50px;
}

.homenav .logo-container-home img {
    height: 50px;
}

.homenav .bars {
    display: none;
}

.homenav .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.homenav .menu li {
    padding-inline: 0.75rem;
}

.homenav .menu li a {
    text-decoration: none;
    font-family: "Merri";
    color: #171A1FFF;
    font-size: 12px;
}

.homenav .menu li a:hover {
    color: #006989FF;
    /* font-weight: 700; */
}

.homenav .right-home {
    display: flex;
    align-items: center;

}

.homenav .right-home form {
    border: 1px solid #DEE1E6FF;
    border-radius: 3px;
    padding: 0.125rem 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 4px;
    padding: 2px 12px;
}

.homenav .right-home form input {
    outline: 0;
    border: 0;
    color: #171A1FFF;
    font-family: 'Merri';
    font-size: 10px;
    background-color: inherit;
    /* background-color: #FFFFFFFF; */
    padding-left: 3px;
}

.homenav .right-home form label {
    color: rgb(29, 33, 39);
    font-size: 13px;
    font-weight: 100;
}

.homenav .right-home .cart-container {
    display: block;
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.homenav .right-home a img {
    display: block;
    width: 16px;
    height: 16px;
}

.homenav .menu li a {
    color: var(--background-color) !important;
}

/* Search bar input text */
.right-home form input[type="search"] {
    color: var(--background-color);
}

/* Search bar placeholder */
.right-home form input::placeholder {
    color: var(--background-color);
    opacity: 0.7;
}

/* Search icon (Font Awesome) */
.right-home form label i {
    color: var(--background-color);
}

/* Cart icon -> turn white */
.cart-container-home img,
.logo-container-home img {
    filter: brightness(0) invert(1);
}

.shadow-header {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    background-color: #FFF !important;
}

.shadow-header .menu li a {
    color: var(--elegant-black) !important;
}

.shadow-header .right-home form input[type="search"] {
    color: var(--elegant-black);
}

.shadow-header .righthome form input::placeholder {
    color: var(--elegant-black);
    opacity: 0.7;
}

.shadow-header .right-home form label i {
    color: var(--elegant-black);
}

.shadow-header .cart-container-home img,
.shadow-header .logo-container-home img {
    filter: none;
}

.hero-container {
    /* margin: 75px 100px; */
    /* border-radius: 20px; */
    /* margin-top: 50px; space for the nav */
    padding: 40px 15px 15px;
    background: #FFF url('../images/background.png') no-repeat center/cover;
}

.hero {
    /* margin: 100px 100px; */
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.05);
    margin: 20px 100px;
    backdrop-filter: blur(7px);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    padding: 25px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 87.5vh; */
    height: 87.5vh;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    color: var(--background-color);
}

.hero .text h2 {
    color: var(--background-color) !important;
    font-size: 24px;
}

.books {
    display: grid;
}

.home-swiper {
    margin: initial;
    width: 320px;
}

.home-article,
.home-img {
    width: 250px;
    height: auto;
    filter: drop-shadow(0px 8.5px 13.75px #171a1f38);
    transition: scale 0.3s;
    -webkit-transition: scale 0.3s;
    -moz-transition: scale 0.3s;
    -ms-transition: scale 0.3s;
    -o-transition: scale 0.3s;
    scale: 0.8;
    -webkit-filter: drop-shadow(0px 8.5px 13.75px #171a1f38);
}

.swiper-slide-active,
.swiper-slide-duplicate-active {
    scale: 1;
}

.cta-btn {
    outline: none;
    background-color: var(--primary-color);
    color: #FFF;
    border: none;
    font-size: 18px;
    padding: 8px 20px;
    border-radius: 6px;
    font-family: 'Playfair';
}

.categories {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 120px;
    /* color: var(--primary-color); */
    gap: 5rem;
}

.category-container {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: 3rem;
}

.category {
    text-align: center;
    color: var(--elegant-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 8px;
    padding: 35px 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    width: 400px;
}

.category:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    cursor: pointer;
}

.category i {
    font-size: 30px;
    color: var(--primary-color);
    display: inline;
    font-weight: 600;
}

.category p {
    font-size: 16px;
}

.category .icon-container {
    background-color: #006A8A1A;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pros {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 70px 60px;
    gap: 6rem;
    background-color: var(--primary-color);
}

.pros h2 {
    color: #FFF !important;
    font-size: 40px !important;
}

.advantage-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.advantage {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: start;
    gap: 0.7rem;
    width: 290px;
    padding: 25px;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    background-color: var(--background-color);
    color: var(--elegant-black);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.advantage:hover {
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
}

.advantage i {
    font-size: 20px;
    display: inline;
    font-weight: 600;
    color: var(--primary-color);
}

.advantage p {
    font-size: 16px;
    color: #5a5a5a;
}

.advantage .icon-container {
    background-color: #006A8A1A;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.help {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 120px 100px;
}

.help .text {
    font-size: 20px;
    width: 380px;
}

.help .text h2 {
    /* padding: 2rem 0; */
    color: var(--primary-color);
    font-size: 30px;
}

.home-form {
    display: flex;
    flex-direction: column;
    width: clamp(250px, 40%, 30rem);
    gap: 0.5rem;
}

.home-form input {
    height: 2rem;
    outline: #DEE1E6FF auto 2px;
    border-radius: 0.1rem;
    padding: 0.5rem;
    transition: all 0.4s ease-in-out;
}

.home-form input::placeholder {
    font-family: "Merri";
}

.home-form input:focus {
    outline: var(--primary-color) auto 2px;
}

.home-form textarea {
    height: 10rem;
    resize: none;
    outline: #DEE1E6FF auto 2px;
    border: none;
    border-radius: 0.1rem;
    padding: 0.5rem;
    transition: all 0.2s ease-in-out;
}

.home-form textarea:focus {
    outline: var(--primary-color) auto 2px;
}

.home-form textarea::placeholder {
    font-family: "Merri";
}

.home-form button {
    outline: none;
    background-color: var(--primary-color);
    border: none;
    color: #FFF;
    font-size: 1rem;
    padding: 0.7rem 1rem;
    border-radius: 0.1rem;
    cursor: pointer;
    font-family: 'Playfair';
}

.homefooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}



.homefooter ul {
    display: flex;
    list-style: none;
}

.homefooter ul li {
    padding: 5px
}

.homefooter ul li a {
    text-decoration: none;
    font-size: 14px;
    line-height: 10px;
    font-weight: 500;
    color: #171A1FFF;
    font-family: "Merri";

}

.homefooter ul li a img {
    display: block;
    width: 12px;
}

@media screen and (min-width: 674px) and (max-width: 716px) {
    .homenav .menu li {
        padding-inline: 0.25rem;
    }

    .homenav .right-home .cart-container-home {
        margin-left: 0;
    }
}

@media screen and (max-width: 674px) {
    .homenav .menu {
        display: none;
    }

    .homenav .right-home {
        display: none;
    }

    .homenav .bars {
        display: block;
        color: #171A1FFF;
    }
}

.page main {
    padding: 0 !important;
    margin: 0 !important;
}